#footer-top {
	padding: $primary-padding*1.5 0;

	color: white;
	a h4{
		color: white;
	}
	background: $footer-top-background-color;
	.footer-widget {
		h3 {
			margin-top: 0;
		}
		
		@media screen and (max-width: 991px) {
			margin-top: $primary-margin;
		}
	}

	.footer-top-logo {
		width: 60%;
		@media screen and (max-width: 768) {
			width: 100%;
		}
		
		margin-bottom: $primary-margin / 2;
	}
}

.footer-widget.latest-posts {
	ul li {
		border-bottom-color: lighten($footer-top-background-color, 5);
	}
}

.footer-widget.tags {
	
	ul>li a{
		background: lighten($footer-top-background-color, 10);
		color: #888;
		
		&:hover {
			text-decoration: none;
			background: $primary-color;
			color: white;
		}
	}
}

footer {
	p {
		margin: 0;
		padding: 0;
	}
	color: white;
	padding: 15px 0;
	background-color: darken($footer-top-background-color, 10);
}