$body-font-size: 16px;
$top-nav-font-size: 12px;
$main-nav-font-size: 14px;
$h1-font-size: 36px;
$h2-font-size: 28px;

//colors
$primary-color: #03A9F4;
$top-nav-font-color: #fff;
$main-nav-font-color: #232323;
$article-footer-background-color: #f7f7f7;

//margins and padding
$primary-margin: 60px;
$primary-padding: 60px;

